@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.sec-title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 1em;
}

@media (max-width: 992px) {
    .sec-title {
        padding-top: 0;
        padding-bottom: 0.5em;
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    section {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    body.disableScroll {
        overflow: hidden;
    }
}
